---
import Layout from "../layouts/Layout.astro";
import dayjs from "dayjs";
import dayOfYear from "dayjs/plugin/dayOfYear";
import scheduleArray from "../schedule.json";
import Icon from "astro-icon";

dayjs.extend(dayOfYear);

const githubProfileData = await fetch("https://api.github.com/users/cfuendev", {
  headers: { Authorization: `Bearer ${import.meta.env.GH_TOKEN}` },
});
const githubReposData = await fetch(
  "https://api.github.com/users/cfuendev/repos",
  {
    headers: { Authorization: `Bearer ${import.meta.env.GH_TOKEN}` },
  }
);
const githubEventsData = await fetch(
  "https://api.github.com/users/cfuendev/events/public",
  {
    headers: { Authorization: `Bearer ${import.meta.env.GH_TOKEN}` },
  }
);

const githubProfileObject: { avatar_url: string } =
  await githubProfileData.json();
const githubReposArray: { stargazers_count: number }[] =
  await githubReposData.json();
let githubEventsArray: { type: string; created_at: Date }[] =
  await githubEventsData.json();

const githubImageURL: string = githubProfileObject.avatar_url;
const githubStarsCount: number = githubReposArray
  .map((gr) => gr.stargazers_count)
  .reduce((acc, val) => acc + val, 0);
let githubStreakNumber = 0;
githubEventsArray = githubEventsArray.filter(
  (ge) => ge.type === "PushEvent" || ge.type === "CreateEvent"
);
// Only PushEvent and CreateEvent
for (let i = 0; i < githubEventsArray.length; i++) {
  if (githubStreakNumber === 0 && i === 0) {
    githubStreakNumber++;
  }
  if (githubEventsArray[i - 1]) {
    if (
      dayjs(githubEventsArray[i - 1].created_at).dayOfYear() !==
        dayjs(githubEventsArray[i].created_at).dayOfYear() &&
      dayjs(githubEventsArray[i - 1].created_at).diff(
        dayjs(githubEventsArray[i].created_at),
        "day"
      ) < 2
    ) {
      console.log({
        date: githubEventsArray[i].created_at,
        type: githubEventsArray[i].type,
        diff: dayjs(githubEventsArray[i - 1].created_at).diff(
          dayjs(githubEventsArray[i].created_at),
          "day"
        ),
      });
      githubStreakNumber++;
    } else {
      break;
    }
  }
}
---

<script>
  import dayjs from "dayjs";
  import scheduleArray from "../schedule.json";
  import i18n from "../i18n.json";

  const navigatorLanguage = navigator.language.split('')
  const lang = navigatorLanguage[0]+navigatorLanguage[1];

  const cfuenStatus = i18n[lang].status;

  document.querySelector('#Dialogue > h2').textContent = i18n[lang].h2;
  document.querySelector('#Dialogue > h3').textContent = i18n[lang].h3;
  document.querySelector('#Stars .Text').textContent = i18n[lang].gh_stars;
  document.querySelector('#Streak .Text').textContent = i18n[lang].gh_streak;
  document.querySelector('#Streak .Days').textContent = ' '+i18n[lang].days;

  // Un problema para arreglar:
  // 2 - Contrario a lo que pensaba, los días de dayjs.format("d") no empiezan en 0 (Lunes = 1)
  setInterval(() => {
    const statusSearchResult = scheduleArray.find(
          (c) =>
            c.hours.find((h) => h === dayjs().format("H")) &&
            c.day === dayjs().format("d")
        )

    const statusIndex = statusSearchResult?.type

    document.querySelector("#Status > .Text").textContent =
      cfuenStatus[statusIndex] || cfuenStatus[0];

      if (statusIndex === 2) {
        document.querySelector('#Status > *:nth-child(1)').style.display = 'none';
        document.querySelector('#Status > *:nth-child(2)').style.display = ''
      } else {
        document.querySelector('#Status > *:nth-child(1)').style.display = '';
        document.querySelector('#Status > *:nth-child(2)').style.display = 'none'
      }
  }, 500);
</script>

<Layout title="cfuen.dev">
  <main style="padding: 30px;">
    <div class="nes-container with-title is-centered">
      <p class="title">cfuen.dev</p>
      <div style="display: flex; flex-direction: row;">
        <div
          class="FocalImg"
          style={`height: 150px; background-image:url(${githubImageURL})`}
        >
          <img alt="" />
        </div>
        <div
          id="Dialogue"
          class="nes-balloon from-left"
          style="height: 120px; margin-left: 30px;"
        >
          <h2>[I18nError]</h2>
          <h3>[I18nError]</h3>
        </div>
      </div>
      <div id="Stats">
        <div id="Stars">
          <i class="nes-icon is-medium star"></i><span
            ><span class="Text">[I18nError]</span>: {
              githubStarsCount
            }</span
          >
        </div>
        <div id="Streak">
          <a
            href="https://github.com/cfuendev"
            target="_blank"
            style="text-decoration: none;"
          >
            <i class="nes-icon github is-medium"></i>
          </a>
          <span
            ><span class="Text">[I18nError]</span>: {
              githubStreakNumber
            }<span class="Days"> [I18nError]</span></span
          >
        </div>
        <div id="Status">
          <Icon
            style="transform: translateY(2px);"
            name="pixelarticons:clock"
            width="48px"
          />
          <Icon
            style="transform: translateY(2px);"
            name="pixelarticons:battery-charging"
            width="48px"
          />
          <span class="Text">[CfuenStatusError]</span>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column;"></div>
  </main>
</Layout>

<style>
  main {
    height: 100dvh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nes-container {
    width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FocalImg {
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
  }

  #Stats {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  #Stats > div {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  #Stats > div:not(:nth-child(1)) {
    margin-left: 30px;
  }

  #Stats > div > span {
    margin-left: 10px;
  }
</style>
